<div ng-show="authenticated">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="../static/images/player.png" th:src="@{/images/player.png}" class="img-responsive"
                         alt="用户头像">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{userInformation.nickname}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{title}}
                    </div>
                    <div class="profile-game-status">
                        {{userInformation.gameWins}}胜
                        {{userInformation.gameDraws}}平
                        {{userInformation.gameLosts}}负
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#/home">
                                <i class="glyphicon glyphicon-home"></i>
                                个人主页</a>
                        </li>
                        <li>
                            <a href="#/profile">
                                <i class="glyphicon glyphicon-user"></i>
                                帐号设置</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                帮助</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="text-center">游戏记录</div>
                <table class="table table-striped table-hover">
                    <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>玩家</th>
                        <th>白方</th>
                        <th></th>
                        <th>黑方</th>
                        <th>玩家</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="gameRecord in gameRecords">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{gameRecord.gameBeginTime}}</td>
                        <td>{{gameRecord.gameEndTime}}</td>
                        <td>{{gameRecord.playerA}}</td>
                        <td>{{gameRecord.whiteNumber}}</td>
                        <td>-</td>
                        <td>{{gameRecord.blackNumber}}</td>
                        <td>{{gameRecord.playerB}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="!authenticated">
    <p>请登录以使用本服务。</p>
</div>