<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Othello Game Server</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-3.3.5-dist/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/signin.css"/>
    <link rel="stylesheet" type="text/css" href="/css/register.css"/>
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
        }
    </style>
</head>

<body ng-app="othellogameweb" ng-cloak class="ng-cloak">
<div ng-controller="navigation" class="container">
    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{active:isActive('/home')}"><a href="#/home">主页</a></li>
        <li role="presentation" ng-class="{active:isActive('/admin')}" ng-show="roleAdmin"><a href="#/admin">管理员工具</a></li>
        <li role="presentation" ng-class="{active:isActive('/login')}" ng-show="!authenticated"><a href="#/login">登录</a></li>
        <li role="presentation" ng-class="{active:isActive('/register')}" ng-show="!authenticated"><a href="#/register">注册</a></li>
        <li role="presentation" ng-class="{active:isActive('/profile')}" ng-show="authenticated"><a href="#/profile">个人资料</a></li>
        <li role="presentation" ng-class="{active:isActive('/logout')}" ng-show="authenticated"><a href="" ng-click="logout()">注销</a></li>
        <li role="presentation" ng-class="{active:isActive('/forgetPassowrd')}" ng-show="false"><a href="#/forgetPassword">忘记密码</a></li>
    </ul>
</div>
<div ng-view class="container"></div>
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/bootstrap-3.3.5.js"></script>
<script src="/js/angular-1.4.7.js"></script>
<script src="/js/angular-route-1.4.7.js"></script>
<script src="/js/angular-animate-1.4.7.js"></script>
<script src="/js/othellowebapp.js"></script>
</body>
</html>
