<div ng-class="{'alert alert-success': success, 'alert alert-danger': error }"role="alert">
    <span ng-show="success">
        <p>您的个人信息已成功更新。</p>
    </span>
    <span ng-show="error">
         <p>更新操作失败。</p>
    </span>
</div>
<div>
    <form class="form-register" name="updateProfileForm" role="form" ng-submit="updateProfile()">
        <h2 class="form-register-heading">个人资料</h2>

        <div class="form-group">
            <label for="inputNickname" class="control-label">昵称</label>
            <input type="text" id="inputNickname" name="nickname" ng-model="userInformation.nickname"
                   class="form-control"
                   placeholder={{userInformation.nickname}} value={{userInformation.nickname}} required autofocus>
        </div>
        <div class="form-group">
            <label for="inputGender" class="control-label">性别</label>
            <input type="text" id="inputGender" name="gender" ng-model="userInformation.gender" class="form-control"
                   placeholder={{userInformation.gender}} value={{userInformation.gender}} required>
        </div>
        <div class="form-group">
            <label for="inputBirthday" class="control-label">生日</label>
            <input type="text" id="inputBirthday" name="birthday" ng-model="userInformation.birthday"
                   class="form-control"
                   placeholder={{userInformation.birthday}} value={{new Date(userInformation.birthday)}} pattern="yyyy-MM-dd" required>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">更新</button>
    </form>
</div>